## ANE build config

# AIR SDK
air.sdk = /Users/marchbold/work/sdks/air/current

# ANDROID
android.sdk = /Users/marchbold/work/sdks/android/android-sdk-macosx

# YOUR APPLICATION PACKAGE NAME
android.package = air.com.distriqt.test


## STANDARD SETTINGS - DO NOT CHANGE THESE
android.resources = res

codetmpl = ./build_config/_codetmpl


## 
project.package = Firebase
project.name = Config

output.dir = ./build
output.docs = ./build/docs

actionscript.dir = ./platform/actionscript
default.dir = ./platform/default
android.dir = ./platform/android

